/* Layout baseline */
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Split screen */
body > div {
  width: 100%;
  height: 100%;
  display: flex;
}

.left-panel {
  flex: 1;
  border-right: 1px solid #ccc;
  min-width: 0;
}

.right-panel {
  flex: 1;
  min-width: 0;
  margin-top: 1rem;
}

.code-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 0;
  min-height: 0;
}

.code-block {
  flex: 0 0 calc(100% / 3);
  height: calc(100% / 3);
  padding: 1em;
  box-sizing: border-box;
  min-height: 0;
}

.code-frame {
  position: relative;
  border: 1px solid #999;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  box-sizing: border-box;
  min-height: 0;
}

.code-frame-icon {
  position: absolute;
  width: 50px;
  height: auto;
  background-color: white;
  left: 20px;
  top: -25px;
}

.code-frame pre {
  margin: 0;
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;
}

.code-frame:hover {
  background-color: #f5f5f5 !important;
}

.code-frame pre > code {
  padding: 1em 0;
}

/* Highlight.js */

.hljs {
  background: transparent;
}

/* Utilities */
.hidden {
  display: none;
}

/* Demo Code */
.login-container {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-container button {
  width: 95%;
  padding: 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.login-container button:hover {
  background-color: #1d4ed8;
}
