:root {
  --background-color: #f5f5f5;
  --left-pane-icon-size: 72px;
  --divider-color: #ccc;
  --code-block-background: #e0e0e0;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background-color);
}

body {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

body > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#left-pane {
  border-right: 1px solid var(--divider-color);
}

#right-pane {
  width: calc(100% - 3em);
  height: calc(100% - 3.5em);
  margin: 2em 1.5em 1.5em;
  gap: 2.5em;
}

.code-block {
  flex: 1;
  min-height: 0;
  max-height: 100%;
  padding: 0.25em 1em 0 1em;
  display: flex;
  position: relative;
  flex-direction: column;
  border: 1px solid #ccc;
}

.code-block img {
  position: absolute;
  width: var(--left-pane-icon-size);
  height: auto;
  left: calc(var(--left-pane-icon-size) / 6);
  top: calc(-1 * var(--left-pane-icon-size) / 2);
  background-color: var(--background-color);
  z-index: 10;
}

.code-block > pre {
  overflow: auto;
}

.code-block > pre > code {
  padding: 1em 0;
  background-color: transparent;
}

.code-block:hover {
  background-color: var(--code-block-background) !important;
}

#left-pane > div {
  width: 100%;
  height: 100%;
}

#copyright > div {
  font-size: 1.5em;
}

#demo {
  flex: 12;
  border-bottom: 1px solid var(--divider-color);
}

#controls {
  flex: 4;
  display: flex;
  gap: 1em;
}

#copyright {
  flex: 1;
  display: flex;
  border-top: 1px solid var(--divider-color);
  justify-content: center;
  align-items: center;
}

#controls > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#controls img {
  width: 128px;
  height: auto;
  cursor: pointer;
}

#icon-html:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 15px rgba(255, 102, 0, 0.5))
    drop-shadow(0 0 30px rgba(255, 102, 0, 0.7));
}

#icon-css:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 10px rgba(0, 153, 255, 0.5));
}

#icon-js:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 15px rgba(255, 221, 0, 0.5))
    drop-shadow(0 0 30px rgba(255, 221, 0, 0.7));
}

/* Utilities */
.hidden {
  display: none !important;
}
